# Python / Virtual Environment
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Stitch export & temporary files
stitch_extracted/
stitch_biomed_app.zip
